* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  color: #141f85;
  background: #eafffe;
  background-attachment: fixed;
  background-image: url(img/);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  overflow: hidden;
  font-weight: bold;
}

body a {
  color: white;
  font-family: poppins, helvetica neue, Arial, sans-serif;
}

.meta {
  margin-top: 25px;
  font-size: larger;
  font-family: poppins, helvetica neue, Arial, sans-serif;
  display: flex;
  justify-content: center;
}

.moves,
.timer {
  margin-right: 10px;
}

.game {
  width: 100%;
  max-width: 642px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 150px;
  height: 150px;
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  transform: scale(1);
  transition: transform 0.3s;
}

.front {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
  background-color: #000;
}

.back {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
}

.card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.front {
  transform: rotateY(180deg);
}

.card.flip {
  transform: rotateY(180deg);
}

.card .back img {
  object-fit: cover;
}

.like_post {
  margin-top: 5px;
  font-size: 12px;
}

.bones_logo img {
  height: 255px;
}

@media only screen and (max-width: 600px) {
  body {
    height: 100%;
    overflow: scroll;
    margin: 0px;
  }

  .game {
    max-width: 322px;
  }

  html {
    height: unset;
  }
}